<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login-page</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-input label="Email input" type="email" placeholder="example@email.com" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Password input" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button (click) ="submit()">Submit</ion-button>
  <a routerLink="/home" ></a>
</ion-content>
